<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TechTools.Net.conf" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TechTools.Net.conf>
            <setting name="smtpMailServer" serializeAs="String">
                <value>mail.jamesbrownpharma.com</value>
            </setting>
            <setting name="senderMail" serializeAs="String">
                <value>sistemas@jamesbrownpharma.com</value>
            </setting>
            <setting name="senderUser" serializeAs="String">
                <value>sistemas</value>
            </setting>
            <setting name="senderPwd" serializeAs="String">
                <value>S1st3m4sJBP</value>
            </setting>
            <setting name="smtpPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="smtpSupportSSL" serializeAs="String">
                <value>True</value>
            </setting>
        </TechTools.Net.conf>
    </applicationSettings>
</configuration>